@import 'bootstrap/scss/bootstrap.scss';
@import 'bootstrap-vue/src/index.scss';

/* VARIABLES START */

$fFamily: sans-serif, 'Tahoma';
$lineHeight: 1.3;
$bodyBackgroundColor: #00b1c9;

/* VARIABLES END */

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: $fFamily;
  line-height: $lineHeight;
  background-color: $bodyBackgroundColor;
}

button,
a:link,
a:visited,
input:focus,
select:focus,
textarea,
textarea:focus {
  outline: 0 !important;
  opacity: 1 !important;
  box-shadow: none !important;
  border-color: inherit !important;
  overflow-y: auto !important;
}

/* TYPOGRAPHY START */

.intro h1 {
  width: 100%;
  font-size: 2.5rem;
  color: #fff;
  padding: 1rem 2rem;
}

/* TYPOGRAPHY END */

.content {
  padding: 2rem;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

/* MODAL START */

.modal {
  .modal-content {
    background: #f4f5f7;
  }

  .modal-header .close {
    font-size: 2.4rem;
    font-weight: 400;
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    color: #333;
    margin: -0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;

    &:hover {
      background-color: rgba(9, 30, 66, 0.08);
      opacity: 1;
    }
  }

  .modal-title {
    flex: 1;

    textarea.title-input {
      border: none;
      font-size: 2rem;
      font-weight: 600;
      background: #f4f5f7;
      padding: 1.5rem 0 0;
      overflow-y: hidden !important;

      &:focus {
        background-color: #fff;
        border: 2px solid #0079bf !important;
      }
    }
  }

  .card-description pre {
    cursor: pointer;
    font-size: 1.4rem;
    font-weight: 400;
    min-height: 4rem;
    padding: 1rem;
    margin: 0 0 1rem;
    background: rgba(9, 30, 66, 0.04);
    word-break: break-all;
    font-family: inherit;
  }

  .card-input textarea {
    min-height: 6rem;
    font-size: 1.4rem;
    font-weight: 400;
    min-height: 10rem;

    &:focus {
      background-color: #fff;
      border: 2px solid #0079bf !important;
    }
  }

  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

/* MODAL END */

/* DropDown Toggle START*/

.dropdown-dots > button.dropdown-toggle {
  background: transparent;
  border: none;
  color: #6b778c;

  &:hover,
  &:active,
  &:focus,
  &:visited {
    color: #172b4d !important;
    background: rgba(9, 30, 66, 0.08) !important;
  }

  &:after {
    border: none;
  }
}

.dropdown-dots.show > button.dropdown-toggle {
  color: #172b4d;
  background: rgba(9, 30, 66, 0.08);
}

/* DropDown Toggle END*/

/* MEDIA QUERIES */
@media (max-width: 768px) {
  .content {
    flex-direction: column;
    align-items: center;

    .list-container {
      order: 2;
      justify-content: center;

      .list-wrapper {
        display: flex;
        flex: 100%;
        align-items: center;
        justify-content: center;
      }

      .list-content {
        margin: 0 0 2rem;
      }
    }
    .input-container.add-list {
      order: 1;
      margin: 0 0 2rem;
    }
  }

  /* homepage */
  .home-page .posts-list {
    justify-content: center !important;

    .post-preview {
      margin-bottom: 2rem;
    }
  }
}
